@page
@model TicketTrackingSystemApp.Pages.Tickets.CreateTicketFormModel
@{


    <form method="post">
        <input asp-for="TicketInput.Subject" />
        <span asp-validation-for="TicketInput.Subject"></span>

        <input asp-for="TicketInput.Description" />
        <span asp-validation-for="TicketInput.Description"></span>


  

        
        <select asp-for="TicketInput.Customer" asp-items="@Model.cRepo.List()", class="selectpicker"></select>




        <input type="submit" value="Save" asp-page-handler="Save" />
    </form>
}

